        .bin {
            min-height: 150px;
            min-width: 150px;
            float: left;
            border: 1px solid red;
            padding: 20px;
            margin: 10px 10px;
        }
        
        .item {
            min-height: 150px;
            min-width: 150px;
            background: blue;
            float: left;
            margin: 10px 10px;
        }
        
        .drag {
            opacity: 0.5;
        }
        
        .over {
            border: 2px dashed #000;
        }