.navbar {
    background-color: transparent;
    border: 0px;
}

.google {
    padding-top: 100px;
    height: 190px;
    margin-top: 109px;
}

.googleImg {
    height: 92px;
    width: 272px;
    margin: auto;
}